@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');      

body {
    font-family: "Roboto", sans-serif; 
    margin: 0;

}


/* Header Styling */

header,
 .hero {
    background-color: #1F2937;
    color: white;
    font-weight: 900;
    display: flex;
}


img {
    width: 600px;
    height: auto;
    border-radius: 25px;
 
}

.hero {
    display: flex;
    gap:60px;
    align-items: center;
    padding: 80px 100px;
    justify-content: space-between;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
}


header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-links {
    color: white;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    padding-left: 80px;
}
header a {
    color: white;
}

.hero p {
    font-size: 16px;
    font-weight: 200;
}
  /* Main Content Styling */

.information {
    padding: 60px 100px;
    text-align: center;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.information-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.info-box {
    max-width: 400px;
    text-align: center;
}

.info-box img {
    width: 250px;
    height: 250px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}